
.loginwrapper{
    background: #eaf2ff;
    min-height: 100vh;
    height: auto;
}
.loginwrpcontainer{
    min-height: 100vh;
}
.loinform{
    background-color: #e3e9ef;
    border-radius: 10px;
    padding: 40px 100px;
    border: 2px solid #d7dde3;
}

@media (max-width: 576px) {
    .loinform{
        padding: 40px 50px;
    }
}