.mainwrapper {
    min-height: calc(100vh - 110px);
    background-color: #eaf2ff;
    padding-bottom: 30px;
}

.middleContentSec {
    background-color: #fff;
    border-radius: 10px;
    min-height: calc(100vh - 128px);
}

@media (max-width: 576px) {
    .mainwrapper {
        padding-bottom: 0px;
    }
    .middleContentSec{
        min-height: calc(100vh - 67px); 
    }
}