.formGroup{
    width: 100%;
    margin-bottom: 15px;
}

.formGroup label{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
    display: block;
    text-align: left;
}

.showmodal{
    display: block;
    padding-left: 0;
}

.modalStyle{
    padding-bottom: 0!important;
    border: 0!important;
}
.nowrap{
    white-space: nowrap;
}
